@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f4f4f4; /* Light neutral background for a clean look */
    border-radius: 10px; /* Rounded edges for a modern feel */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0; /* Neutral gray for a subtle appearance */
    border-radius: 10px; /* Rounded edges for smoothness */
    border: 2px solid #f4f4f4; /* Creates a subtle padding effect */
    transition: background 0.3s ease, border 0.3s ease; /* Smooth transition for hover effects */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0; /* Slightly darker gray for hover effect */
    border: 2px solid #e0e0e0; /* Subtle contrast on hover */
}

@layer utilities {
    @layer utilities {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
       /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
      }
    }
}


/* Custom styles for FullCalendar */
.fc-day-today {
    background-color: #f7fafc !important;
    }  
.fc-day-today:hover {
    background-color: #edf2f7 !important;
    }
    
.fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
    background-color: #f0f0f0 !important;
    color: black !important;
    border: 3px solid #f0f0f0 !important;
    padding: 5px 10px !important;
    font-weight: normal !important;
    box-shadow: none !important;
    transition: all 0.2s ease-in-out !important;
}

.fc-dayGridMonth-button:hover, .fc-timeGridWeek-button:hover, .fc-timeGridDay-button:hover {
    background-color: white !important;
}

.fc-button-active {
    background-color: white !important;
}

.fc-toolbar-title {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
}

.fc-today-button {
    background-color: white !important;
    color: black !important;
    border: none !important;
    transition: all 0.2s ease-in-out !important;
}

.fc-today-button:hover {
    background-color: #f0f0f0 !important;
}

.fc-prev-button, .fc-next-button {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important; 
    background-color: white !important;
    border: 1px solid lightgray !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    color: black !important;
    margin: 0 5px !important;
}

.fc-prev-button:hover, .fc-next-button:hover {
    background-color: #f0f0f0 !important;
}

.fc-daygrid-day-top {
    display: flex !important;
    justify-content: left !important;
}

.fc-col-header-cell{
    border-left: none !important;
    border-right: none !important;
    font-size: 1rem !important;
    color: gray !important;
}